<!DOCTYPE html>
<html>
<head>
	<title>Student Login</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}" type = "text/css"/>
</head>
<body>
	<form class="log" action="/login/" method="post">
            <h1> Login </h1>
            {% csrf_token %}
            <input class="name" type="text" name="uname" placeholder="username" autocomplete="off">
            <input class="name" type="password" name="password" placeholder="password">
            <input id = "bttn" type="submit" name="" value="Submit">
            <p>Need an Account? <a href="/register/">Sign Up</a></p>
    </form>
        

</body>
</html>