*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    background-image: url('/static/assets/background2.jpg');
}
.container
{
    text-align: center;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
textarea
{
    width: 100%;
    box-shadow: 10px 10px #fb4c1f;
}

input[type=submit]
{
    color: black;
    background: #c2d1e5;
}
input[type=submit]:hover
{
    cursor: pointer;
    color: black;
    background: #0069D9;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*NAVBAR*/
.navbar
{
    background: azure;
    padding: 5px;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}
li
{
    list-style: none;
    float: right;
    margin-right: 20px;
}

.navbar ul li a
{
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover
{
    color:#fe793d;
}
i
{
    margin-right: 3px;
}
.brand
{ 
    margin-top: 5px;
    margin-left: 10px;
}
.links
{
    display: inline;
}
i
{
    color:#fe793d;
}

ul
{
    margin-bottom: 0px;
}
