*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    /*background: #fe793d;*/
    background-image: url('/static/assets/texture.jpg');
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.navbar
{
    background: azure;
    padding: 5px;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}
li
{
    list-style: none;
    float: right;
    margin-right: 20px;
}

.navbar ul li a
{
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover
{
    color:#fe793d;
}
i
{
    margin-right: 3px;
}
.brand
{ 
    margin-top: 5px;
    margin-left: 10px;
}
.links
{
    display: inline;
}
i
{
    color:#fe793d;
}

ul
{
    margin-bottom: 0px;
}

.main
{
    margin-left: 10px;
}
.items
{
    background: #fbc680;
}
.card-body
{
    background: #fbc680;
}
.btn
{
    color: black;
    background: #c2d1e5;
}