*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{

    /*background: url("/static/assets/background.png");*/
    background-image: url('/static/assets/texture.jpg');
    overflow: hidden;
}
/*NAVBAR CSS*/
.navbar
{
    background: azure;
    padding: 5px;
    border-radius: 0.25rem;

    margin-bottom: 10px;
}
li
{
    list-style: none;
    float: right;
    margin-right: 20px;
}

.navbar ul li a
{
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover
{
    color: orange;
}
i
{
    margin-right: 3px;
}
.brand
{  
    margin-top: 5px;
    margin-left: 10px;
}
.links
{
    display: inline;
}
.Outer
{
    background-color: #fbc680;;
    position: absolute;
    height: 80%;
    padding: 20px;
    left: 6%;
    width: 80%;
    margin: 20px;
    border-radius: 0.25rem;
    float: right;
    box-shadow: 10px 10px #fb4c1f
}

h1
{
    border: 5px;
    text-align: center;
}

i
{
    color:#fe793d;
}

ul
{
    margin-bottom: 0px;
}
.container
{
    padding-left: 0px;
}
.btn
{
    color: black;
    background: #c2d1e5;
}

